# Maven build output
target/
*.releaseBackup

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Eclipse
.classpath
.project
.settings/
.metadata/

# OS specific files
Thumbs.db
Desktop.ini
.DS_Store

# Executables and archives
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
